knitr-template.tex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.dvi
*-converted-to.*
*.ps
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
acs-*.bib
*.thm
*.nav
*.snm
*.vrb
*.cpt
*.lox
*.brf
*-concordance.tex
*.tikz
*-tikzDictionary
*.lol
*.idx
*.ilg
*.ind
*.ist